<header>
    <nav>
        <ul>
            <li>
                <a href="/">Головна</a>
            </li>
            <li>
                <a href="/about">Про мене</a>
            </li>
            <li>
                <a href="post/cateory/programming">Програмування </a>
            </li>
            <li>
                <a href="post/cateory/art">Мистецьво</a>
            </li>
            <li>
                <a href="post/cateory/games">Ігри</a>
            </li>
        </ul>
    </nav>
</header>